*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.item-quantity{
    height: 2vw;
    width: 7vw;
    /* background-color: aqua; */
    margin: 2vw;
    display: flex;
    background-color: rgb(232, 232, 232);
    border-radius: 12px;
}
.decrement{
    height: 2vw;
    width: 30%;
    /* background-color: blue; */
    text-align: center;
    border: 1px solid gray;
    border-radius: 12px 0  0 12px;
    /* padding: 2vh; */
}
.quantity{
    height: 2vw;
    width: 40%;
    /* background-color: brown; */
    text-align: center;
    padding: 1vh;
    border: 1px solid  gray;
}
.increment{
    height: 2vw;
    width: 30%;
    /* background-color: blueviolet; */
    text-align: center;
    border: 1px solid  gray;
    border-radius: 0 12px  12px 0;
}
h3{
    font-size: 4vh;
}